<%- include("../includes/header.ejs", {title:"Add New account"}); %>
<h1>Add New account</h1>
<form action="/account/insert" method="get">
    account email: <input id="email" name="email" type="text" />
    <br />
    first name: <input id="first_name" name="first_name" type="text" />
    <br />
    last name: <input id="last_name" name="last_name" type="text" />
    <br />

    <br />
    skill
    <br />
    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; skill.length > i; i++ ) { %>
        <option value="<%= skill[i].skill_id %>" > <%= skill[i].skill_name%>> </option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>