<%- include("../includes/header.ejs", {title:"Accounts - " + result[0].email}); %>
    <h1>Accounts</h1>
    <ul>
        <li>Account Email: <%= result[0].email %></li>

    </ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>