<%- include("../includes/header.ejs", {title:"Add New resume"}); %>
<header>Add New resume</header>

<form action="/resume/insert" method="post">
    <br />
    Select User:
    <br />
    <select id="account_id" name="account_id">
        <% for(var i=0; result.length > i; i++ ) { %>
        <option value="<%= result[i].account_id %>" > <%= result[i].first_name + ' ' + result[i].last_name%> </option>
        <% } %>
    </select>


    <br />
    <input type="submit" />

</form>
<footer>

</footer>
<%- include("../includes/footer.ejs"); %>