<%- include("../includes/header.ejs", {title:"Add New resume"}); %>
<header>Update Resume <%= resume.resume_name%></header>
<form action="/resume/update" method="post">
    <input type="hidden" id="resume_id" name="resume_id" value="<%= resume.resume_id %>">
    Resume Name: <input id = "resume_name" name="resume_name" type="text"/>
    <br />
    Select Schools:
    <br />
    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var l=0; school.length > l; l++ ) { %>
        <option value="<%= school[l].school_id %>" > <%= school[l].school_name%> </option>
        <% } %>
    </select>
    <br />
    Select Companies:
    <br />
    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
        });
    </script>
    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var a=0; company.length > a; a++ ) { %>
        <option value="<%= company[a].company_id %>" > <%= company[a].company_name%> </option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>

    <br />
    Select skill:
    <br />
    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; skill.length > i; i++ ) { %>
        <option value="<%= skill[i].skill_id %>" > <%= skill[i].skill_name%> </option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>
    <br />
    <input type="submit" />

</form>
<footer>

</footer>
<%- include("../includes/footer.ejs"); %>