<%- include("../includes/header.ejs", {title:"resume - View All"}); %>

<header>Resumes</header>
<nav>
<a href="/resume/add/selectuser">Create New Resume</a> &ndash; This will make another resume. <br />
<a href="/">Home Page</a> &ndash; This page has links to company, account, skill, address, resume. <br />
</nav>
<br />
<article>
<table border="1">
    <tr><th>First Name</th><th>Last Name</th><th>Resume Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/resume/?resume_id=<%=  result[i].resume_id %>"><%= result[i].first_name%></a></td>
        <td><a href="/resume/?resume_id=<%=  result[i].resume_id %>"><%= result[i].last_name%></a></td>
        <td><a href="/resume/?resume_id=<%= result[i].resume_id %>"><%= result[i].resume_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/resume/edit/?resume_id=<%= result[i].resume_id %>'">Edit</button>
            <form action="/resume/delete/" style="display:inline;">
                <input type="hidden" name="resume_id" id="resume_id" value="<%= result[i].resume_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>
</article>
<footer>

</footer>
<%- include("../includes/footer.ejs"); %>