<%- include("../includes/header.ejs", {title:"Resume - " + result[0].resume_name}); %>
<h1>Resume</h1>
<ul>
    <li>resume Name: <%= result[0].resume_name %></li>
    <li>School(s):
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].school_name %></li>
            <% } %>
        </ul>
    </li>
    <li>Company:
        <ul>
            <% for(var j=0; result.length > j; j++ ) { %>
            <li><%= result[j].company_name %></li>
            <% } %>
        </ul>
    </li>
    <li>Skill(s):
        <ul>
            <% for(var l=0; result.length > l; l++ ) { %>
            <li><%= result[l].skill_name %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/resume/all"><< back</a>

<%- include("../includes/footer.ejs"); %>