<%- include("../includes/header.ejs", {title:"skills - " + result[0].skill_id}); %>
<h1>skills</h1>
<ul>
    <li>skill skill_name: <%= result[0].skill_name %></li>
    <li>skill description: <%= result[0].description %></li>
</ul>

<a href="/skill/all"><< back</a>

<%- include("../includes/footer.ejs"); %>