<%- include("../includes/header.ejs", {title:"Add New skill"}); %>
<h1>Add New skill</h1>
<form action="/skill/insert" method="get">
    <br />
    skill skill_name: <input id = "skill_name" name="skill_name" type="text"/>
    <br />
    skill description: <input id = "description" name="description" type="text"/>

    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>