<%- include("../includes/header.ejs", {title:"addresss - " + result[0].address_id}); %>
<h1>addresses</h1>
<ul>
    <li>address Street: <%= result[0].street %></li>
    <li>address Zip_code: <%= result[0].zip_code %></li>

</ul>

<a href="/address/all"><< back</a>

<%- include("../includes/footer.ejs"); %>