<%- include("../includes/header.ejs", {title:"Add New address"}); %>
<h1>Add New address</h1>
<form action="/address/insert" method="get">
    <br />
    address street: <input id = "street" name="street" type="text"/>
    <br />
    address zip_code: <input id = "zip_code" name="zip_code" type="text"/>


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>